# Every file in this repo requires review from @vincentmakes before merge.
# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @vincentmakes
